* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 32px;
}

.counter {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter__button {
  width: 48px;
  height: 48px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.counter__value {
  margin: 16px;
}